@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap');



*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    color: #FFF;
text-align: center;
font-size: 1.25rem;
font-weight: 600;
border-radius: 8px;
background: #FF900E;
padding: 20px 25px;
cursor: pointer;
border: 0;
}

.section-title{
    font-size: 3rem;
    font-weight: 700;
    color:  #131313;
}
/* header start*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav  li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
     font-size: 1rem;
  
}
nav li  a {
    text-decoration: none;
    color:  #424242;
    
}

/* banner style*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
    
}
.banner-img{
    width: 100%;
    margin-top: 20px;
}

/*header end*/

/*------------
section1
------------*/
/*main start*/
main{
    max-width: 1440px;
    margin: 70px auto;  
}

/*teams style*/
.teams-container
{
   display: flex;
   align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.banner-content{
   padding-left: 70px;
   padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}

.teams-title .of-Our{
    color: #131313;
}
.teams-title .Features-text{
    color: #FF900E;
    font-weight: 700;
}
.teams-title .Quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
    font-size: 45px;
}
/*-----------------
section1 end
------------------*/
/*-----------
section2 feature
----------*/
 .features{
    margin-top: 130px;
    display: flex;
     gap: 100px;
 }
 .features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
 }
 .feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0.06);
 }
.feature-img img{
    height: 90%;
    margin-left: 90px;
}

 .ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px; 
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;

 }
 .ten-years-badge h3{
    font-size: 4rem;
    margin: 0;
 }
 .ten-years-badge p{
    font-size: 1.5rem;
 }
 /*-----------
section2 feature are end
----------*/


/*--------------
section3 start
---------------*/

   /*facts section*/
   .facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
   }
   .facts-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
   }
  .facts-card-container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  padding: 30px;
  }

  .facts-card-container .card-stats{
     font-size: 2.8rem;
     color: #424242;
     margin-top: 10px;
     margin-bottom: 10px;
  }
/*-----------------
section3 end
--------------------*/
/*section4 sponsors style*/
.Sponspors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsors-img-container img{
    width: 165px;
    height: ;
}
/* footer*/
.footer{
    text-align: center;
    border-radius: 8px;
background: #FFF4E7;
padding-top: 20px;
padding-bottom: 20px;
flex-shrink: 0;
color: #424242;
}
/*RESPONSIVE MEDIA QUERIES
 mobile device   */

@media screen and (max-width:576px) {
    header{
    padding: 50px;
    }
    nav , .teams-container , .facts-card-container, .sponsors-img-container, .features{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .feature-img img{
        width: 90%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        max-width: 300px;

    }
    .teams-content , .facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
}
/*tablet or medium devices*/
@media screen and (min-width:577px) and (max-width:960px
)  {
   nav ,
   .features, .teams-container, .sponsors-img-container {
    flex-direction: column;
   } 
}